.call_container {
    border: 1px solid #c0c0c0;
    height: auto;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 1rem 0.5rem;
}

/*Message全局提示样式*/


div.ant-message {
    position: absolute;
    left: 40%;
    top: 2rem;
}

div.ant-message, div.ant-message-success, div.ant-message-notice-content {
    height: 1.5rem;
    line-height: 1.5rem;
    width: auto;
    padding: 0 0.5rem;
}




