.movieList_container {
    overflow-y: scroll;
}

.movieList_container .item {
    background-color: #F2F2F2;
    height: 12rem;
    display: flex;
    /*text-align: center;*/
    align-items: center;

}

.movieList_container .item .item_left {
    height: 10rem;
    /*text-align: center;*/
    padding-left: 1rem;
    padding-right: 0.5rem;

}

.movieList_container .showBottom {
    display: block;
    height: auto;
    text-align: center;
}

.movieList_container .hideBottom {
    display: none;
}
